<!DOCTYPE html>
<html lang="en">
<%-include("layout/head");%>
<body>
    <!-- <dialog id="modal"> -->
        
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Transfer Money to <%= custom.name %></h1>
                <p class="lg:w-2/3  mx-auto leading-relaxed text-base">
                  JUST ENTER AMOUNT YOU WANT TO TRANSFER 

                </p>
              </div>
              <form action="/transfer/" method="POST" >
            <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                  <label for="full-name" class="leading-7 text-sm text-gray-600">Name (Enter AMOUNT you want to Tranfer)</label>
                  <input type="text" id="full-name" name="fullname" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" 
                  value="<%= custom.name %>" readonly>
                </div>
               
                <div class="relative flex-grow w-full">
                  <label for="Amountpay" class="leading-7 text-sm text-gray-600" autofocus>Amount</label>
                  <input type="number" id="amount" name="amount" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Transfer</button>
            </div>
        </form>
    
            </div>
        </section>
      <!-- </dialog> -->
      <!-- <button onclick="modal.show()" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Transfer</button> -->
    
</body>
</html>